backend
.main.go.swp
.vscode/
.vscode/
backend.exe
debug
vendor/
.env
.envrc
firebase-config.json
data/otherJobs/
data/data.exe
data/FinalTestUsers.json
data/corpus.dat
data/jobs.csv
data/meetOver.model
data/rawTestUsers.json
data/transcripts.csv
matching/main.go
